/*header, main, .section, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, .section, footer {
    padding-left: 0;
  }
}*/
p.light{
  font-weight:500;
}
p.page-text{
  font-size:12px;
}
nav ul a:focus{
  color:#004d40;
}

a.socIcon:hover{  
  color:#004d40;
}

a.socIcon:focus{  
  color:#004d40;
}

.nav-logo-1 {
  height: 45px;
  width: 213px;
}

nav .brand-logo {
  padding-left: 45px;
  padding-top: 10px;
}

.socIcon {
  color: #fff;
  display: inline;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 45px;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
.sideHeader {
  padding-top:15px;
  text-align:center;
}

.sideItem {
  font-size: 14px;
}

.sideItemFont {
  padding-left: 25px;
  transition: all 0.3s ease;
}

.shadow-red:hover {
  box-shadow: 0px 0px 20px red;
}
.shadow-orange:hover {
  box-shadow: 0px 0px 20px orange;
}
.shadow-yellow:hover {
  box-shadow: 0px 0px 20px yellow;
}
.shadow-green:hover {
  box-shadow: 0px 0px 20px green;
}
input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #9E9E9E;
  box-shadow: 0 1px 0 0 #9E9E9E;
}
input[type=text]:focus.valid{
  border-bottom: 1px solid #9E9E9E;
  box-shadow: 0 1px 0 0 #9E9E9E;
}