/*header, main, .section, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, .section, footer {
    padding-left: 0;
  }
}*/
.active{

}
a:focus{
  color: #000;
}
#item_name{
  color: #004d40;
}

.nav-logo-1 {
  height: 45px;
  width: 213px;
}

nav .brand-logo {
  padding-left: 45px;
  padding-top: 10px;
}

.socIcon {
  color: #fff;
  display: inline;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 45px;
}

  .socIcon:hover, :focus {
    color: #ffd600;
  }

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
.sideHeader {
  padding-top:15px;
  text-align:center;
}

.sideItem {
  font-size: 14px;
}

.sideItemFont {
  padding-left: 25px;
  transition: all 0.3s ease;
}
/*.container {
  border: 1px solid;
}
.row {
  border: 1px solid green;
}
.col {
  border: 1px solid blue;
}*/
/*.card {
  height: 25vh;
}*/