/*header, main, .section, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, .section, footer {
    padding-left: 0;
  }
}*/



.nav-logo-1 {
  height: 45px;
  width: 213px;
}

nav .brand-logo {
  padding-left: 45px;
  padding-top: 10px;
}

.socIcon {
  color: #fff;
  display: inline;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 45px;
}

  .socIcon:hover, :focus {
    color: #ffd600;
  }

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
.sideHeader {
  padding-top:15px;
  text-align:center;
}

.sideItem {
  font-size: 14px;
}

.sideItemFont {
  padding-left: 25px;
  transition: all 0.3s ease;
}

input:not([type]).valid, input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {

}
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}
.animate-enter.animate-enter-active,
.animate-leave {
      opacity: 1;
    top: 0;
    height: 30px;
}
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    left: -50px;
    height: 0px;
}
.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}
.shadow-red:hover {
  box-shadow: 0px 0px 20px #e53935;
}
.shadow-orange:hover {
  box-shadow: 0px 0px 20px #ef6c00;
}
.shadow-yellow:hover {
  box-shadow: 0px 0px 20px #ffea00;
}
.shadow-green:hover {
  box-shadow: 0px 0px 20px #2e7d32;
}