


<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="item_name" type="text" class="validate" ng-model="controller.name">
        <label for="item_name">Your new fridge item</label>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <label>Date:</label>
          <input type="date" class="datepicker" ng-model="controller.expDate">

        <p>Date: <input type="text" id="datepicker" placeholder="Date!"></p>

      </div>
      <div class="row">
        <div class="input-field col s12">
          <span id="{{$index}}" ng-repeat="category in controller.foodCategories">
            <button id="{{$index}}" class="waves-effect waves-light btn" ng-click="controller.newCategory(category, $index)">{{category}}</button>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button type="submit" class="btn btn-success btn-lg" ng-click="controller.postItem()">Add my item!</button>
        </div>
      </div>
    </div>
  </div>
</div>
