

  <div>
      <!--<pre>Sorting predicate = {{controller.predicate}}, reverse = {{controller.reverse}}</pre>-->
      <table class="item">
          <tr>
              <th>
                  <button ng-click="controller.order('name')">Name</button>
                  <span class="sortorder" ng-show="controller.predicate === 'name'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                  <button ng-click="controller.order('exp')">Expire Date</button>
                  <span class="sortorder" ng-show="controller.predicate === 'exp'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                  <button ng-click="controller.order('category')">Category</button>
                  <span class="sortorder" ng-show="controller.predicate === 'category'" ng-class="{reverse:reverse}"></span>
              </th>
          </tr>
          <tr ng-repeat="item in controller.fridgeItems | orderBy:controller.predicate:controller.reverse">
              <td>{{item.name}}</td>
              <td>{{item.expDate}}</td>
              <td>{{item.categories}}</td>
          </tr>
      </table>
  </div>
<div>
  <table>
    <tr>
      <td>Name</td>
      <td>Expiration Date</td>
      <td>Category</td>
    </tr>
    <tr ng-repeat="item in controller.fridgeItems">
      <td>{{item.name}}</td>
      <td>{{item.expDate}}</td>
      <td>{{item.categories}}</td>
    </tr>
  </table>
  {{controller.fridgeItems}}
</div>
<!-- Modal Trigger -->
<div class="col">
  <a class='btn' href='#demoModal' modal>Show Modal</a>
</div>
<!-- Modal Structure -->
<div id="demoModal" class="modal">
  <div class="modal-content">
    <h4>Modal header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

