<div class="container">
  <!--<pre>Sorting predicate = {{controller.predicate}}, reverse = {{controller.reverse}}</pre>-->
  <!--filter options-->
  <!--<table class="item">
    <tr>
      <th>
        <button class="btn-flat" ng-click="controller.order('name')">Name</button>
        <span class="sortorder" ng-show="controller.predicate === 'name'" ng-class="{reverse:controller.reverse}"></span>
      </th>
      <th>
        <button class="btn-flat" ng-click="controller.order('exp')">Expire Date</button>
        <span class="sortorder" ng-show="controller.predicate === 'exp'" ng-class="{reverse:controller.reverse}"></span>
      </th>
      <th>
        <button class="btn-flat" ng-click="controller.order('category')">Category</button>
        <span class="sortorder" ng-show="controller.predicate === 'category'" ng-class="{reverse:controller.reverse}"></span>
      </th>
      <th>
        <button class="btn-flat" ng-click="controller.order('daysLeft')">Days Left</button>
        <span class="sortorder" ng-show="controller.predicate === 'daysLeft'" ng-class="{reverse:controller.reverse}"></span>
      </th>
      <th>
        <input type="text" placeholder="Search" ng-model="model" />
      </th>
    </tr>
  </table>-->
  <div class="row">
    <div class="col s6 l3 right">
     <input type="text" placeholder="Search" ng-model="model" />
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs" tabs>
        <li class="tab col s3"><a href="#test1" ng-click="controller.order('name')">Name</a></li>
        <li class="tab col s3"><a href="#test2" ng-click="controller.order('exp')">Expire Date</a></li>
        <li class="tab col s3"><a href="#test3" ng-click="controller.order('category')">Category</a></li>
        <li class="tab col s3"><a href="#test4" ng-click="controller.order('daysLeft')">Days Left</a></li>
      </ul>
    </div>
  </div>
  <!--markup for card-->
  <div class="row">
      <div class="col s12 m4 l3" ng-animate="'animate'" ng-repeat="item in controller.fridgeItems |  orderBy:controller.predicate:controller.reverse | filter:model">
      <div class="card shadow-{{controller.getColor(item.expDate)}}">
        <div class="card-image">
          <img class="activator" ng-src="{{controller.getImage(item)}}" />
        </div>
        <div class="card-content">
          <span class="card-title activator">{{item.name}}<i class="material-icons right">more_vert</i></span>
          <h6>Days left: {{item.expDate | amDifference : null : 'days'}}</h6>
        </div>

        <!--markup shown when card is clicked-->
        <div class="card-reveal">
          <div class="card-title">{{item.name}}<i class="material-icons right">close</i></div>
          <p>Added: {{item.addedDate| date}}</p>
          <p>Expires: {{item.expDate | date}}</p>
          <p>Days left: {{item.expDate | amDifference : null : 'days'}}</p>
          <div class="chip" ng-repeat="category in item.categories">
            <span> {{category.name}}</span>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <a class="btn btn-success btn-lg white-text sticky-button" ng-click="controller.deleteItem(item)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>