<div class="container">
  <div class="row center">
    <h1 class="header col s12 light">Never waste food again <br /> with Smart Fridge!</h1>
  </div>
</div>
<div class="container">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="fa fa-globe" aria-hidden="true"></i></h2>
          <h5 class="center">Worldwide</h5>
          <p class="light">The amount of food lost and wasted every year is equal to more than half of the world&rsquo;s annual cereals crops (2.3 billion tons in 2009)</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="fa fa-map-marker" aria-hidden="true"></i></h2>
          <h5 class="center">USA</h5>
          <p class="light">In the USA, 30-40% of the food supply is wasted, equaling more than 20 pounds of food per person per month.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="fa fa-users" aria-hidden="true"></i></h2>
          <h5 class="center">What you can do?</h5>
          <p class="light">Wasting food is often a subconscious act &#45; become aware of how much food you throw away. Save your food, save your money and save the environment. </p>
        </div>
      </div>
    </div>
  </div>
