<div class="container">
  <h2 class="header light titleFont">Log in</h2>

  <ul>
    <li ng-repeat="externalLogin in account.externalLogins">
      <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
    </li>
  </ul>

  <ul>
    <li ng-repeat="error in controller.validationMessages">
      {{error}}
    </li>
  </ul>

  <form ng-submit="controller.login()">
    <div class="row">
      <div class="input-field col s7">
        <label for="loginEmail" >Email</label>
        <input id="loginEmail" type="text" ng-model="controller.loginUser.email" />
      </div>
      <div class="input-field col s7">
        <label for="loginPass" >Password</label>
        <input id="loginPass" type="password" ng-model="controller.loginUser.password" />
      </div>
    </div>
    <input class="waves-effect waves-light btn" type="submit" value="Login" />
    <a class="waves-effect waves-light btn" href="/register">Register</a>
  </form>
</div>